<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shoppingmall</title>
<link type='text/css' rel='stylesheet' href='css/firstPage.css'>

<style>
  
</style>
</head>
<body>
    <div id='showList'>
      <ul>
        <li class=""><span>华为</span></li>
        <li class=""><span>ipone</span></li>
        <li class=""><span>小米</span></li>
        <li class=""><span>中兴</span></li>
        <li class=""><span>1+</span></li>
        <li class=""><span>魅族</span></li>
        <li class=""><span>三星</span></li>
      <ul>
    </div>
    <div id="showBox">
    	<div  id='box1'>
	    	<ul>
	    		<li><span>华为手机</span></li>
	    	</ul>
	    </div>
	    <div  id='box2'>
			<ul>
				<li><span>P系列</span></li>
				<li><span>Mate系列</span></li>
				<li><span>nove系列</span></li>
				<li><span>麦芒系列</span></li>
				<li><span>畅享系列</span></li>
			</ul>
		</div>
    </div>
    <div class="showBox1">
    	<ul>
    		<span></span>
    	</ul>
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
    </div>
    <div class="showBox2">
    	<ul>
    		<span></span>
    	</ul>
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
    </div>
    <div class="showBox3">
    	<ul>
    		<span></span>
    	</ul>
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
    </div>
    <div class="showBox4">
    	<ul>
    		<span></span>
    	</ul>
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
    </div>
    <div class="showBox5">
    	<ul>
    		<span></span>
    	</ul>
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
    </div>
    <div class="showBox6">
    	<ul>
    		<span></span>
    	</ul>
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
    </div>
    
    
</body>
</html>