<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>页面不存在</title>
<style>
    body{margin:0;color:grey;}
    div{width:500px;
        margin:30px auto}
    h1{color:black;}
    p{margin-left:50px;}
    #first{margin:0;}
    a{text-decoration:none;
      color:blue;}
</style>
</head>
<body>

<!--<p>Sorry,your url is not found</p>-->

<div>
    <h1>很抱歉,您要访问的页面不存在!</h1>
    <p id="first">温馨提示:</p>
    <p>请检查您访问的网址是否正确</p>
    <p>回到顶部重新发起搜索</p>
    <p>如果有任何意见和建议,请及时<a href="#">反馈给我们</a></p>
</div>
</body>
</html>