<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shoppingmall</title>
<!-- <link type='text/appliction' scr='/shopingmall.css'> -->

<style>
  div{
    height: 482px;
    width: 100px;
  }
  ul{
    height: 482px;
    width: 100px;

  }
  li{
    height:80px;
    width:100px;
    margin-top:1px;
    color:white;
    background-color: orange;
    list-style: none;
  }
   p{
    line-height: 80px;
    text-align:center;
    font-size: 18px;
   }
</style>
</head>
<body>
    <div>
      <ul>
        <li class=""><p>华为</p></li>
        <li class=""><p>ipone</p></li>
        <li class=""><p>小米</p></li>
        <li class=""><p>中兴</p></li>
        <li class=""><p>1+</p></li>
        <li class=""><p>魅族</p></li>
        <li class=""><p>三星</p></li>
      <ul>
    </div>
    
    
</body>
</html>